.myProfile {
    height: 100vh;
    width: 100vw;
    background-color: #123456;
    color: #c5c5c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myProfilePic {
    margin: 20px;
    height: 25%;
    width: auto;
}

.profileInput {    
    margin: 0px 0px 20px 0px;
}