.display {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 650px) {
  .workoutDisplays {
    background-color: #123456;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .workoutBoxMobile {
    height: 50px;
    width: 80%;
    margin: 0px 0px;
    border-radius: 15px;
    background-color: #cbd1e7;
    color: #1a1dec;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .workoutBoxTablet {
    display: none;
  }

  .workoutBoxLarge {
    display: none;
  }
}
@media (min-width: 651px) {
  .workoutBoxMobile {
    height: 50px;
    width: 80%;
    margin: 2px 0px;
    border-radius: 15px;
    background-color: #cbd1e7;
    color: #1a1dec;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .workoutBoxLarge {
    display: none;
  }
}

@media (min-width: 992px) {
  .workoutDisplays {
    width: 80%;
    height: 60%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .workoutBoxLarge {
    height: 75px;
    width: 400px;
    margin: 2px 0px;
    border-radius: 15px;
    background-color: #cbd1e7;
    color: #1a1dec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .workoutBoxTablet {
    display: none;
  }

  .workoutBoxMobile {
    display: none;
  }
}
